doctype html
html
  head
    title="nodejs-cas-client-demo"
    meta(charset="UTF-8")
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
  body
    .container
      block content
